.form {
    height: 60vh;
    width: 40vw;
    margin: 0vh 5vw 10vh 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.center {
    text-align: center;
    align-self: center;
}

/*errors fields*/
.form p {
    color: red;
    padding: 0;
    margin: 0;
}
.form .types {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
