.form {
    height: 60vh;
    width: 40vw;
    margin: 10vh 5vw 10vh 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.center {
    text-align: center;
    align-self: center;
}