.homePage {
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
}
.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.cards * {
    height: 30vh;
    width: 30vw;
}