.navbar {
    width: 100vw;
    height: 10vh;
    background-color: white;
}

.navbar .menu {
    display: flex;
    direction: rtl;
    padding: 2vh 2vw 2vh 2vw;
    font-size: 1.5vw;
}

.navbar .menu div {
    flex: 1;
    text-align: center;
}

.navbar .menu div span {
    padding: 1vw;
}
.navbar .menu div a {
    padding: 1vw;
    color: black;
    text-decoration: unset;
}
.navbar .menu hr {
    margin-top: -1vh;
    height: 7vh;
}

.material-icons {
    vertical-align: bottom;
}
